.container {
  border-radius: 5px;
  background-color: #b5b2b27c;
  padding: 20px;
  margin-left: 30%;
}

.row {
  padding-top: 30px;
}
 
.txtbox{
  width: 47%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: scroll; 
}

.is-invalid {
  border: 1px solid #ff0000a6;
}

.datos1 {
  width: 55%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: scroll;
}

.datos {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}  

.bot {
  width: 7%;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(73, 197, 62);
  color: #ccc;
  border-radius: 10%;
  border: 1px solid #ccc;
  margin-left: 22%;
}

.datos3{
  height: 90px;
  width: 50%;
  border: 1px solid #ccc;
}

select{
  width: 50%;
  border-radius: 7px;
  padding: 10px 10px;
  border: 1px solid #ccc;
}
  
.text-danger {
  display: block;
  margin-left: 7.5%;
  padding-top: 2px;
  color: #ff0000a6;
}
